<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>カクテルサーチャー</title>
</head>
<body>

<h1>カクテルの世界</h1>
<form action="/register" method="post">
<input type="text" name="search" size="30"><br/>

<div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333;">
<h2>ベース</h2>
<input type="checkbox" name="base" value="ウォッカ">ウォッカ
<input type="checkbox" name="base" value="ジン">ジン
<input type="checkbox" name="base" value="テキーラ">テキーラ<br/>
<input type="checkbox" name="base" value="コカレロ">コカレロ
<input type="checkbox" name="base" value="ウイスキー">ウイスキー
<input type="checkbox" name="base" value="スピリッツ">スピリッツ<br/>
<input type="checkbox" name="base" value="ビール">ビール
<input type="checkbox" name="base" value="ブランデー">ブランデー
<input type="checkbox" name="base" value="ラム">ラム<br/>
<input type="checkbox" name="base" value="">リキュール
<input type="checkbox" name="base" value="果実酒">果実酒
<input type="checkbox" name="base" value="日本酒">日本酒<br/>
<input type="checkbox" name="base" value="焼酎">焼酎
<input type="checkbox" name="base" value="ワイン(赤)">ワイン(赤)
<input type="checkbox" name="base" value="ワイン(白)">ワイン(白)<br/>
<input type="checkbox" name="base" value="シャンパン">シャンパン
<input type="checkbox" name="base" value="その他">その他
</div>


<div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333;">
<h2>アルコール</h2>
<input type="checkbox" name="degree" value="強い">強い
<input type="checkbox" name="degree" value="普通">普通
<input type="checkbox" name="degree" value="弱い">弱い
<input type="checkbox" name="degree" value="無し">無し
</div>

<div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333;">
<h2>味</h2>
<input type="checkbox" name="taste" value="オレンジ">オレンジ
<input type="checkbox" name="taste" value="パイン">パイン
<input type="checkbox" name="taste" value="ピーチ">ピーチ<br/>
<input type="checkbox" name="taste" value="カシス">カシス
<input type="checkbox" name="taste" value="ブドウ">ブドウ
<input type="checkbox" name="taste" value="ライム">ライム<br/>
<input type="checkbox" name="taste" value="レモン">レモン
<input type="checkbox" name="taste" value="ジンジャエール">ジンジャエール
<input type="checkbox" name="taste" value="トニックウォーター">トニックウォーター<br/>
<input type="checkbox" name="taste" value="ミント">ミント
<input type="checkbox" name="taste" value="ライチ">ライチ
<input type="checkbox" name="taste" value="牛乳">牛乳<br/>
<input type="checkbox" name="taste" value="コーヒー">コーヒー
<input type="checkbox" name="taste" value="紅茶">紅茶
<input type="checkbox" name="taste" value="抹茶">抹茶<br/>
<input type="checkbox" name="taste" value="辛い">辛い
<input type="checkbox" name="taste" value="甘い">甘い
<input type="checkbox" name="taste" value="すっきり">すっきり<br/>
<input type="checkbox" name="taste" value="その他">その他
</div>

<div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333;">
<h2>グラス</h2>
<input type="checkbox" name="glass" value="ロック">ロック
<input type="checkbox" name="glass" value="タンブラー">タンブラー
<input type="checkbox" name="glass" value="マティーニグラス">マティーニグラス<br/>
<input type="checkbox" name="glass" value="ワイングラス">ワイングラス
<input type="checkbox" name="glass" value="ブランデーグラス">ブランデーグラス
<input type="checkbox" name="glass" value="ピルスナー・ゴブレット">ピルスナー・ゴブレット<br/>
<input type="checkbox" name="glass" value="リキュールグラス">リキュールグラス
<input type="checkbox" name="glass" value="シャンパングラス">シャンパングラス
<input type="checkbox" name="glass" value="ソーサー型シャンパングラス">ソーサー型シャンパングラス<br/>
<input type="checkbox" name="glass" value="ショットグラス">ショットグラス
<input type="checkbox" name="glass" value="ビアグラス">ビアグラス
<input type="checkbox" name="glass" value="サワーグラス">サワーグラス<br/>
<input type="checkbox" name="glass" value="シェリーグラス">シェリーグラス
<input type="checkbox" name="glass" value="グラッパーグラス">グラッパーグラス
<input type="checkbox" name="glass" value="ジョッキグラス">ジョッキグラス<br/>
</div>

<div style="padding: 10px; margin-bottom: 10px; border: 5px double #333333;">
<h2>温度</h2>
<input type="checkbox" name="temperature" value="冷たい">冷たい
<input type="checkbox" name="temperature" value="常温">常温
<input type="checkbox" name="temperature" value="暖かい">暖かい
</div>

<input type="submit" value="検索"/>
</form>

</body>
</html>